@page
@model Databases.Pages.ConfirmStudentModel
@{
    ViewData["Title"] = "ConfirmStudent";
}



<h1> This is the confirm Student page</h1>

<h2>The following values were entered</h2>
<ul>
    <li> Student Name @Model.FirstName </li>
    <li> Student Last Name @Model.LastName </li>
    <li> Student ID @Model.StudentID </li>
</ul>

<a href="CreateStudent" class="button">Go Back and Edit</a>

<a href="Bye" class="button">Save the Data</a>